<!DOCTYPE html>

<html lang="en-US">
<head>
	<link rel="stylesheet" type="text/css" href="/static/movie/stylesheet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/static/movie/profile.js"></script>
	<title>Movie Reviews</title>
</head>
<body>
	<div id="banner">
		<div id="info">
			<a href="/movie">main.</a>
		</div>
	</div>
	<div id="header">
		<h1>{{ given_name }}'s Profile</h1>
	</div>
	<div id="content">
		<ul id="profile_reviews">
		</ul>
	</div>
</body>
</html>
