body {
	text-align: center;
	font-family: 'Young Serif', Verdana;
	background-color: #fccad7;
}

#board {
	position: relative;
	top: 0px;
	outline:1px solid #000;
	font-size: 0;
	margin:20px auto;
	height: 650px;
	width: 650px;
	padding: 0;
	border: none;
	box-shadow: black 0px 5px 10px
}

input[type=button] {
	font-family: 'Young Serif', Verdana;
	font-size: 20px;
}

.cell {
	padding:0px;
	outline: 0.5px solid #000;
	display:inline-block;
	background-color: #ff96b2;
}

.cell:hover {
	background-color: #a0a0a0;
}

.dropped {
	background-color: #404040;
}

.dropped:hover {
	background-color: #404040;
}

.angel {
	background-image: url("/static/game/assets/angel.png");
	background-size: cover;
	background-color: #FFE484;
}
.angel:hover {
	background-color: #FFE484;
}

