<!DOCTYPE html>

<html lang="en-US">
<head>
	<link rel="stylesheet" type="text/css" href="/static/todo_login/stylesheet.css">
	<script type="text/javascript" src="/static/todo_login/script.js"></script>
	<title>Todo List</title>
</head>
<body>
	<div id="header">
		<div id="info">
			<span>{{ session['given_name'] }}</span>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<div id="banner">
		<h1>Todo List</h1>
	</div>
	<div id="content">

		<div id="add_list">
			<input type="text" id="list_name" placeholder="Your new list's name"/>
			<input type="button" id="add_list_btn" value="Add List" onclick="add_list();"/>
		</div>

		<div id="lists">
			<p>Loading Lists</p>
		</div>
	</div>
</body>
</html>
